@use '../../../styles/mixin' as mixin;

.wrapper {
  margin-top: 20px;
}

.tablist {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 0 5px;
}

.tab {
  width: calc(100% / 3);
  padding: 10px 5px;
  font-weight: bold;
  color: mixin.$whiteColor;
  background-color: mixin.$disabledColor;
  border-radius: 5px 5px 0 0;

  &.selected {
    color: mixin.$mainTextColor;
    background-color: mixin.$primaryColor;
  }

  @include mixin.mq() {
    padding: 10px 10px;
    font-size: mixin.rem(14);
  }
}

.tabpanel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 350px;
  padding: 20px 10px;
  background-color: darken(mixin.$bgColor, 10%);
  border-radius: 3px;
}
