@use '../../styles/mixin' as mixin;

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 350px;

  .fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none;

    > legend {
      margin: 0 auto;
    }
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .label {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    font-weight: bold;
  }

  .input {
    padding: 5px 8px;
    border: 1px solid mixin.$mainTextColor;
    border-radius: 3px;

    &.text {
      width: 100%;
    }

    &.textarea {
      width: 100%;
      min-height: 50px;
      max-height: 500px;
      resize: vertical;
    }

    &.date {
      flex: 1 1 auto;
    }

    &:invalid {
      background-color: lighten(mixin.$vividColor, 40%);
      border: 1px solid mixin.$vividColor;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 5px;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .dateWrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .action {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
}
