@use '../../../../styles/mixin' as mixin;

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  .fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none;

    > legend {
      margin: 0 auto;
      font-size: mixin.rem(18);
      font-weight: bold;
    }
  }

  .remark {
    margin-top: 10px;
    text-align: center;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
  }

  .inputWrapper {
    display: flex;
    gap: 10px;
  }

  .label {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    min-width: 72px;
    font-weight: bold;
  }

  .input {
    flex: 1;
    width: 100%;
    padding: 5px 8px;
    border: 1px solid mixin.$mainTextColor;
    border-radius: 3px;

    &:invalid {
      background-color: lighten(mixin.$vividColor, 40%);
      border: 1px solid mixin.$vividColor;
    }
  }

  .miniWrapper {
    display: flex;
    gap: 5px;
  }

  .action {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
}
