$mainTextColor: #333;
$bgColor: #ffedcc;
$headerBgColor: #ffb833;
$footerBgColor: #ffb833;
$primaryColor: #ffa600;
$secondaryColor: #7aff33;
$ternaryColor: #33ffb8;
$quaternaryColor: #664914;
$optionalColor: #696969;
$disabledColor: #696969;
$whiteColor: #f5f5f5;
$headingBorderColor: #664914;
$vividColor: #e00000;
$clickableColor: #0000f5;

// https://www.colordic.org/colorscheme/ffb833

$z_overlay: 10;
$z_modal: 100;

@function rem($px) {
  @return ($px / 16) * 1rem;
}

$breakpoints: (
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (min-width: 768px)',
  'tablet': 'screen and (min-width: 768px) and (max-width: 1200px)',
) !default;

// メディアクエリ
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
