@use '../../../styles/mixin' as mixin;

.root {
  z-index: mixin.$z_modal;
  width: clamp(350px, 90vw, 1000px);
  max-height: 90vh;
  padding: 20px 16px;
  overflow-y: auto;
  background-color: mixin.$bgColor;
  border: 3px solid mixin.$primaryColor;
  border-radius: 5px;
  outline: none;
}
