@use '../../../styles/mixin' as mixin;

.root {
  display: inline-block;
  padding: 3px;
  font-size: mixin.rem(12);
  font-weight: bold;
  color: mixin.$whiteColor;
  border-radius: 3px;

  &.required {
    background-color: mixin.$vividColor;
  }

  &.optional {
    background-color: mixin.$optionalColor;
  }
}
