.root {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 100px auto;
  font-size: 26px;
  text-indent: -9999em;
  border-radius: 50%;
  transform: translateZ(0);
  animation: load5 1.1s infinite ease;
}

@keyframes load5 {
  0%,
  100% {
    box-shadow: 0 -2.6em 0 0 #33f, 1.8em -1.8em 0 0 #ccf, 2.5em 0 0 0 #ccf, 1.75em 1.75em 0 0 #ccf, 0 2.5em 0 0 #ccf, -1.8em 1.8em 0 0 #ccf, -2.6em 0 0 0 #99f, -1.8em -1.8em 0 0 #66f;
  }

  12.5% {
    box-shadow: 0 -2.6em 0 0 #66f, 1.8em -1.8em 0 0 #33f, 2.5em 0 0 0 #ccf, 1.75em 1.75em 0 0 #ccf, 0 2.5em 0 0 #ccf, -1.8em 1.8em 0 0 #ccf, -2.6em 0 0 0 #ccf, -1.8em -1.8em 0 0 #99f;
  }

  25% {
    box-shadow: 0 -2.6em 0 0 #99f, 1.8em -1.8em 0 0 #66f, 2.5em 0 0 0 #33f, 1.75em 1.75em 0 0 #ccf, 0 2.5em 0 0 #ccf, -1.8em 1.8em 0 0 #ccf, -2.6em 0 0 0 #ccf, -1.8em -1.8em 0 0 #ccf;
  }

  37.5% {
    box-shadow: 0 -2.6em 0 0 #ccf, 1.8em -1.8em 0 0 #99f, 2.5em 0 0 0 #66f, 1.75em 1.75em 0 0 #33f, 0 2.5em 0 0 #ccf, -1.8em 1.8em 0 0 #ccf, -2.6em 0 0 0 #ccf, -1.8em -1.8em 0 0 #ccf;
  }

  50% {
    box-shadow: 0 -2.6em 0 0 #ccf, 1.8em -1.8em 0 0 #ccf, 2.5em 0 0 0 #99f, 1.75em 1.75em 0 0 #66f, 0 2.5em 0 0 #33f, -1.8em 1.8em 0 0 #ccf, -2.6em 0 0 0 #ccf, -1.8em -1.8em 0 0 #ccf;
  }

  62.5% {
    box-shadow: 0 -2.6em 0 0 #ccf, 1.8em -1.8em 0 0 #ccf, 2.5em 0 0 0 #ccf, 1.75em 1.75em 0 0 #99f, 0 2.5em 0 0 #66f, -1.8em 1.8em 0 0 #33f, -2.6em 0 0 0 #ccf, -1.8em -1.8em 0 0 #ccf;
  }

  75% {
    box-shadow: 0 -2.6em 0 0 #ccf, 1.8em -1.8em 0 0 #ccf, 2.5em 0 0 0 #ccf, 1.75em 1.75em 0 0 #ccf, 0 2.5em 0 0 #99f, -1.8em 1.8em 0 0 #66f, -2.6em 0 0 0 #33f, -1.8em -1.8em 0 0 #ccf;
  }

  87.5% {
    box-shadow: 0 -2.6em 0 0 #ccf, 1.8em -1.8em 0 0 #ccf, 2.5em 0 0 0 #ccf, 1.75em 1.75em 0 0 #ccf, 0 2.5em 0 0 #ccf, -1.8em 1.8em 0 0 #99f, -2.6em 0 0 0 #66f, -1.8em -1.8em 0 0 #33f;
  }
}

@keyframes load5 {
  0%,
  100% {
    box-shadow: 0 -2.6em 0 0 #33f, 1.8em -1.8em 0 0 #ccf, 2.5em 0 0 0 #ccf, 1.75em 1.75em 0 0 #ccf, 0 2.5em 0 0 #ccf, -1.8em 1.8em 0 0 #ccf, -2.6em 0 0 0 #99f, -1.8em -1.8em 0 0 #66f;
  }

  12.5% {
    box-shadow: 0 -2.6em 0 0 #66f, 1.8em -1.8em 0 0 #33f, 2.5em 0 0 0 #ccf, 1.75em 1.75em 0 0 #ccf, 0 2.5em 0 0 #ccf, -1.8em 1.8em 0 0 #ccf, -2.6em 0 0 0 #ccf, -1.8em -1.8em 0 0 #99f;
  }

  25% {
    box-shadow: 0 -2.6em 0 0 #99f, 1.8em -1.8em 0 0 #66f, 2.5em 0 0 0 #33f, 1.75em 1.75em 0 0 #ccf, 0 2.5em 0 0 #ccf, -1.8em 1.8em 0 0 #ccf, -2.6em 0 0 0 #ccf, -1.8em -1.8em 0 0 #ccf;
  }

  37.5% {
    box-shadow: 0 -2.6em 0 0 #ccf, 1.8em -1.8em 0 0 #99f, 2.5em 0 0 0 #66f, 1.75em 1.75em 0 0 #33f, 0 2.5em 0 0 #ccf, -1.8em 1.8em 0 0 #ccf, -2.6em 0 0 0 #ccf, -1.8em -1.8em 0 0 #ccf;
  }

  50% {
    box-shadow: 0 -2.6em 0 0 #ccf, 1.8em -1.8em 0 0 #ccf, 2.5em 0 0 0 #99f, 1.75em 1.75em 0 0 #66f, 0 2.5em 0 0 #33f, -1.8em 1.8em 0 0 #ccf, -2.6em 0 0 0 #ccf, -1.8em -1.8em 0 0 #ccf;
  }

  62.5% {
    box-shadow: 0 -2.6em 0 0 #ccf, 1.8em -1.8em 0 0 #ccf, 2.5em 0 0 0 #ccf, 1.75em 1.75em 0 0 #99f, 0 2.5em 0 0 #66f, -1.8em 1.8em 0 0 #33f, -2.6em 0 0 0 #ccf, -1.8em -1.8em 0 0 #ccf;
  }

  75% {
    box-shadow: 0 -2.6em 0 0 #ccf, 1.8em -1.8em 0 0 #ccf, 2.5em 0 0 0 #ccf, 1.75em 1.75em 0 0 #ccf, 0 2.5em 0 0 #99f, -1.8em 1.8em 0 0 #66f, -2.6em 0 0 0 #33f, -1.8em -1.8em 0 0 #ccf;
  }

  87.5% {
    box-shadow: 0 -2.6em 0 0 #ccf, 1.8em -1.8em 0 0 #ccf, 2.5em 0 0 0 #ccf, 1.75em 1.75em 0 0 #ccf, 0 2.5em 0 0 #ccf, -1.8em 1.8em 0 0 #99f, -2.6em 0 0 0 #66f, -1.8em -1.8em 0 0 #33f;
  }
}
