@use '../../../styles/mixin' as mixin;

.root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: mixin.$z_overlay;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.8);
}
