@use '../../../styles/mixin' as mixin;

.root {
  padding: 0 8px;
  font-size: mixin.rem(20);
  font-weight: bold;
  border-bottom: 3px solid mixin.$headingBorderColor;

  @include mixin.mq() {
    font-size: mixin.rem(18);
  }
}
