@use '../../../styles/mixin' as mixin;

.root {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  border-radius: 3px;

  &:hover,
  &:focus-visible {
    background-color: mixin.$primaryColor;
  }
}
