@use '../../../styles/mixin' as mixin;

.root {
  min-width: 100px;
  padding: 2px 10px;
  font-weight: bold;
  background-color: mixin.$ternaryColor;
  border: 3px solid mixin.$ternaryColor;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);

  &:hover,
  &:focus-visible {
    background-color: mixin.$whiteColor;
  }

  &:active {
    box-shadow: none;
    transform: translateY(3px);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: mixin.$disabledColor;
    border: 3px solid mixin.$disabledColor;
  }

  @include mixin.mq() {
    padding: 2px 5px;
    font-size: mixin.rem(14);
  }
}
